---
// src/components/PostContent.astro
import CalendarIcon from '../assets/calendar.svg';

interface NewsItem {
  title: string;
  date: string;
  image: string;
  content: string;
  subtitle: string;
}

interface Props {
  newsItem: NewsItem;
}

const { newsItem } = Astro.props;
---

  <!-- Заголовок новости -->
<h1 class="news-single__title">{newsItem.title}</h1>

<!-- Дата публикации -->
{newsItem.date && (<div class="news-single__date">
  <span><CalendarIcon /></span>
  <span>{newsItem.date}</span>
</div>)}

{newsItem.subtitle && (<p class="news-single__subtitle">
  <span>{newsItem.subtitle}</span>
</p>)}

<!-- Изображение новости -->
{newsItem.image && (<div class="news-single__image">
  <img src={newsItem.image} alt={newsItem.title} />
</div>)}

<!-- Контент новости -->
{newsItem.content && (<div class="news-single__content" set:html={newsItem.content}></div>)}
<style lang="scss" is:global>
.news-single {
  &__title {
    font-size: 48px;
    font-weight: bold;
    color: $color-text-primary;
    letter-spacing: -0.01em;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  
  &__date {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #475569;
    margin-bottom: 40px;
    
    svg {
      color: #475569;
    }
  }
  
  &__image {
    width: 100%;
    height: 484px;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 40px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  &__content {
    font-size: 18px;
    line-height: 1.6;
    color: $color-text-primary;
  }
}

@media (max-width: $breakpoint-lg) {
  .news-single {
    &__title {
      font-size: 36px;
    }
    
    &__image {
      height: 400px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .news-single {
    &__title {
      font-size: 28px;
    }
    
    &__image {
      height: 300px;
    }
    
    &__content {
      font-size: 16px;
      
      h3 {
        font-size: 24px;
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .news-single {
    &__title {
      font-size: 24px;
    }
    
    &__image {
      height: 200px;
      border-radius: 16px;
    }
  }
}
</style>